.card {
  max-width: 430px;
  width: 100%;
  height: 270px;
  position: relative;
  margin-top: 130px;
  margin-bottom: -130px;
  display: flex;
  flex-direction: column;
  transition: transform 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
  transform-style: preserve-3d;

  &--is-flipped {
    transform: rotateY(180deg);
  }

  &__front,
  &__back {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-content: space-between;
    flex-direction: column;
  }

  &__background {
    height: 100%;
    width: 100%;
    box-shadow: 0 20px 60px 0 rgba(14, 42, 90, 0.55);
    border-radius: 15px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1;

    img {
      height: 100%;
      width: 100%;
    }

    &:after {
      background: rgba(6, 2, 29, 0.45);
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__front {
    .card__top {
      height: 45px;
      margin: 20px;
      display: flex;
      justify-content: space-between;
    }

    .card__chip-icon,
    .card__visa-icon {
      z-index: 2;
      display: flex;
      img {
        height: 100%;
      }
    }

    .card__visa-icon {
      justify-content: flex-end;
    }

    .card__card-number {
      color: #fff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 20px 0;
      padding: 0 20px;
      flex: 1;
      z-index: 3;
      cursor: pointer;

      span {
        width: 16px;
        font-size: 28px;
        z-index: 2;
        position: relative;
      }

      &--space {
        width: 30px !important;
      }
    }

    .card__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex: 1;

      * {
        z-index: 2;
      }
    }

    .card__card-holder {
      width: 100%;
    }

    .card__card-holder,
    .card__expires {
      color: #fff;
      margin: 20px;
      text-align: left;
      cursor: pointer;

      &-title {
        opacity: 0.7;
        font-size: 13px;
      }
    }

    .card__card-holder-name,
    .card__card__expires-date {
      font-size: 18px;
      white-space: nowrap;
      text-transform: uppercase;
    }
  }

  &__back {
    transform: rotateY(180deg) translateZ(10px);
    .card__top,
    .card__card-cvc,
    .card__bottom {
      z-index: 2;
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .card__top {
      height: 50px;
      margin-top: 30px;

      .card__black-line {
        background-color: #000;
        height: 100%;
        max-height: 50px;
      }
    }

    .card__card-cvc {
      height: 40px;
      box-shadow: 0px 10px 20px -7px rgba(32, 56, 117, 0.35);
      margin: 0 20px;

      &-title {
        color: #fff;
        text-align: right;
        padding-bottom: 8px;
      }

      &-number {
        background-color: #fff;
        color: #1a3b5d;
        border-radius: 4px;
        height: 100%;
        max-height: 40px;
      }
    }
  }

  &__bottom {
    .card__visa-icon {
      height: 45px;
      max-height: 45px;
      text-align: right;
      margin: 10px 20px 0;

      img {
        height: 100%;
      }
    }
  }

  &__focus-box {
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.65);
    border-radius: 5px;
    z-index: 2;
    transition: all 0.35s cubic-bezier(0.71, 0.03, 0.56, 0.85);
    width: 100%;
    height: 100%;
    opacity: 0;

    &--cc-number {
      width: 360px;
      height: 47px;
      transform: translate(15px, 114px);
      opacity: 1;
    }

    &--cc-name {
      width: 315px;
      height: 57px;
      transform: translate(15px, 200px);
      opacity: 1;
    }

    &--cc-exp {
      width: 80px;
      height: 57px;
      transform: translate(340px, 200px);
      opacity: 1;
    }

    &--cc-cvc {
      width: 44px;
      height: 26px;
      transform: translate(374px, 108px);
      opacity: 1;
    }
  }
}

.slide-up-enter {
  opacity: 0;
  transform: translateY(15px);
}
.slide-up-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.1s;
}
.slide-up-exit {
  opacity: 1;
  position: absolute;
}
.slide-up-exit-active {
  opacity: 0;
  transform: translateY(-15px);
  pointer-events: none;
}

.slide-up-enter-active,
.slide-up-exit-active {
  transition: all 0.25s ease-in-out;
}
